---
import Layout from '../layouts/Layout.astro';
import CuentaRegresiva from '../components/CuentaRegresiva.astro';
---
<Layout>
	<main class="max-w-6xl mx-auto space-y-4 md:space-y-6 bg-gradient-to-l from-[#F7E7CE] via-[#fff8E1] to-[#F7E7CE]">
		
		<!-- Sección principal -->
		<section class="relative flex flex-col items-center justify-center min-h-[80vh] md:min-h-screen py-12">
			<!-- Fondo -->
			<img 
				src="/fondoV3.jpg" 
				alt="Fondo de rosas"
				class="absolute inset-0 w-full h-full object-cover object-top"
			/>

			<!-- Contenido -->
			<div class="relative z-10 flex flex-col items-center space-y-6">
				<img 
					src="/Joven_1.jpg" 
					alt="Quinceañera" 
					class="rounded-2xl shadow-lg max-h-64 md:max-h-80 w-auto"
				/>
				<div class="text-center">
					<h1 class="text-5xl md:text-7xl font-[Dancing_Script] text-pink-700">Guadalupe</h1>
					<p class="mt-2 text-xl md:text-2xl font-[Dancing_Script] text-gray-700">22 de Noviembre</p>

					<CuentaRegresiva fechaEvento="2025-11-22T01:00:00" />
				</div>
			</div>
		</section>

		<!-- Sección frase -->
		<section class="relative flex flex-col items-center justify-center py-16">
			<!-- Fondo -->
			<img 
				src="/fondofrasefinal.jpg" 
				alt="Fondo de rosas" 
				class="absolute inset-0 w-full h-full object-cover object-center"
			/>

			<!-- Contenido encima -->
			<div class="relative z-10 text-center max-w-2xl px-4 items-center">
				<p class="text-4xl md:text-5xl font-[Dancing_Script] text-pink-700">Mis XV</p>
				<h3 class="text-2xl md:text-3xl font-[Dancing_Script] text-gray-700">La vida está hecha de momentos inolvidables y uno de los más especiales está por llegar. Mis XV años son un sueño que quiero compartir contigo.</h3>
			</div>
		</section>

		<!-- Sección dónde y cuándo -->
		<section class="py-16 px-4 text-center space-y-6">
			<h2 class="text-4xl font-[Dancing_Script] text-pink-700">¿Dónde y Cuándo?</h2>
			<p class="text-lg md:text-xl text-gray-700 max-w-2xl mx-auto">
				<strong>Ceremonia Religiosa:</strong> 22 de Noviembre de 2025 a las 12:00 PM en la Parroquia San Juan Bautista.
			</p>
			<p class="text-lg md:text-xl text-gray-700 max-w-2xl mx-auto">
				<strong>Recepción:</strong> 22 de Noviembre de 2025 a las 3:00 PM en el Salón de Eventos La Hacienda.
			</p>
		</section>

		<!-- Sección fotos -->
		<section class="py-16"></section>

		<!-- Sección mis personas favoritas -->
		<section class="py-16"></section>

		<!-- Sección confirmar asistencia -->
		<section class="py-16"></section>
	</main>
</Layout>
