---
import Layout from '../layouts/Layout.astro';
import CuentaRegresiva from '../components/CuentaRegresiva.astro';
---
<Layout>
	<main class="max-w-6xl mx-auto space-y-12 bg-gradient-to-l from-[#F7E7CE] via-[#fff8E1] to-[#F7E7CE] min-h-screen">
		<!-- Sección principal -->
		<section class="relative flex flex-col items-center justify-center py-12">
			<!-- Fondo -->
			<div class="absolute inset-0">
				<img src="/fondoV3.jpg" 
					class="w-full h-[80vh] md:h-screen object-cover object-top" 
					alt="Fondo de rosas" />
			</div>

			<!-- Contenido encima -->
			<div class="relative z-10 flex flex-col items-center space-y-6 md:mt-10">
				<img src="/Joven_1.jpg" alt="QuinceañeraV2" class="rounded-2xl shadow-lg max-h-64 w-auto mt-10 md:mt-0" />
				<div class="text-center">
					<h1 class="text-6xl md:text-8xl font-[Dancing_Script] text-pink-700">Guadalupe</h1>
					<p class="mt-1 md:mb-1 text-2xl md:text-3xl font-[Dancing_Script] text-gray-700">22 de Noviembre</p>

					<CuentaRegresiva fechaEvento="2025-11-22T01:00:00" />
				</div>
			</div>
		</section>

		<hr class="h-0 text-shadow-none md:h-5">

		<!-- Sección frase -->
		<section class="relative flex flex-col items-center justify-center py-12">
			<!-- Fondo -->
			<div class="absolute inset-0">
				<img src="/fondo_frase.jpg" 
					class="w-full object-cover object-top" 
					alt="Fondo de rosas" />
			</div>

			<!-- Contenido encima -->
			<div class="relative z-10 flex flex-col items-center">
				<div class="text-center">
					<h1 class="text-6xl md:text-8xl font-[Dancing_Script] text-pink-700">Guadalupe</h1>
					<p class="mt-1 md:mb-1 text-2xl md:text-3xl font-[Dancing_Script] text-gray-700">22 de Noviembre</p>

					<CuentaRegresiva fechaEvento="2025-11-22T01:00:00" />
				</div>
			</div>
		</section>

		<!-- Sección donde y cuando -->
		<section class="py-12"></section>

		<!-- Sección fotos de la quinceañera -->
		<section class="py-12"></section>

		<!-- Sección mis personas faboritas -->
		<section class="py-12"></section>

		<!-- Sección confirmar asistencia -->
		<section class="py-12"></section>
	</main>
</Layout>
